<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
        if($_COOKIE["email"]!="")
            javascript:window.location="index.html"
    </script>
    <script>
        function validateAppointment() {
            hoy = new Date(); //Fecha actual
            sdate = new Date(document.forms["appointment"]["date"].value);
            if (sdate.getTime() < hoy.getTime()){
                alert ("Fecha mal ingresada, fecha mayor al día de hoy");
                return false;
            } 
        }
    </script>

</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form name="appointment" action="/create/appointment" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto" onsubmit="return validateAppointment()">
        <h2 class="text-primary">Add a New Appointment</h2>
        {% with messages = get_flashed_messages(category_filter=['appointment']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="task">Task:</label>
                    <input type="text" name="task" class="form-control" required minlength="3" maxlength="255">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" name="date" class="form-control" required>
                </div>
                <div class="form-group">
                    <select name="status" class="form-select"  aria-label="Default select example" >>
                        <option value="Pending">Pending</option>
                        <option value="Missed">Missed</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
                <input type="submit" value="Add Appointment" class="btn btn-primary">
            </div>
    </form>
</body>
</html>